.App {
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 15px;
  font-size: 15px;
  background-color: lightgreen;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
}

button {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto;
  border: rgb(55, 61, 3) solid;
  border-radius: 4px;
  background-color: lightgreen;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  padding-top: 20px;
  font-weight: bold;
  text-decoration: underline;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
  padding: 20px;
  background-color: rgb(202, 202, 241);
}

p {
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  width: 25vw;
  height: 5vh;
  margin: auto;
  padding: 10px;
  border: rgb(55, 61, 3) solid;
  border-radius: 4px;
  font-family: "Courier New", Courier, monospace;
}
